<div class="quiz-testimonial-list">
  <p class="quiz-testimonial-list__title">
    Parents rate AllRight “Excellent” on Trustpilot
  </p>

  <div class="quiz-testimonial-list__cards">
    <div class="quiz-testimonial-list__card">
      <Ui::TestimonialCard />
    </div>
    <div class="quiz-testimonial-list__card">
      <Ui::TestimonialCard />
    </div>
    <div class="quiz-testimonial-list__card">
      <Ui::TestimonialCard />
    </div>
  </div>
</div>