<div class="tag {{if @isActive "tag--activated"}}">
  <img src="{{@icon}}" alt="" class="tag__img">
  <p class="tag__text">
    {{@initial}}
  </p>

  <div class="tag__active-wrap">
    <div class="tag__active-circle">
      <div class="tag__active" />
    </div>
  </div>
</div>
