<div class="user-card">
  <img src="/images/avatar.png" alt="" class="user-card__avatar">
  <div class="user-card__content">
    <p class="user-card__name">
      Raluca and Sara
    </p>

    {{yield}}
  </div>
</div>