.tag {
  padding: 1px 17px 1px 1px;
  display: inline-flex;
  overflow: hidden;
  gap: 12px;
  height: 56px;
  background: var(--c-gray-0);
  box-shadow: inset 0 0 0 1px var(--c-gray-1);
  border-radius: 28px;
  align-items: center;
  cursor: pointer;
  position: relative;
  &__img {
    height: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    pointer-events: none;
  }
  &__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    position: relative;
    z-index: 1;
    pointer-events: none;
  }
  &:not(.tag--activated):not(.tag--activation):hover {
    box-shadow: inset 0 0 0 1px var(--c-gray-1), 0 0 16px 0 rgba(26, 10, 46, 0.05);
  }
  &--activation {
    .tag__active-circle {
      animation-name: increaseSize;
      animation-duration: 250ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }
  }
  &--deactivation {
    .tag__active-circle {
      animation-name: decreaseSize;
      animation-duration: 250ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }
  }
  &--activated {
    box-shadow: inset 0 0 0 1px var(--c-fuchsia);
    background: #F0EAF8;
  }
  &__active-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }
  &__active-wrap,
  &__active {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 8px;
  }
  &__active {
    box-shadow: inset 0 0 0 1px var(--c-fuchsia);
  }
  &__active-circle {
    overflow: hidden;
    display: block;
    width: 1px;
    opacity: 0;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #F0EAF8;
    z-index: 0;
    clip-path: circle(farthest-side);
  }
}

@keyframes increaseSize {
  0% {
    width: 15px;
    opacity: 1;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}


@keyframes decreaseSize {
  0% {
    opacity: 1;
    width: 100%;
  }
  100% {
    width: 15px;
    opacity: 1;
  }
}

